{{!-- <h1>{{title}}</h1>
<h2>Welcome to {{title}}</h2> --}}
<img src="/images/cinema.jpg" class="home-pic"/>
<h1 class="cinema-title">Cinema Ironhack</h1>
<form action="/movies">
    <input type="submit" value="CHECK THE MOVIES" class="home-check-movies"/>
</form>

{{!-- <a href="/movies">CHECK THE MOVIES</a> --}}
